@model IList<HaT7FptBook.Models.Book>
@using HaT7FptBook.Menu
@inject AdminSidebarService _AdminSidebarService

@{
    ViewBag.Title = "Books List";
    Layout = "/Views/Shared/_LayoutStoreOwner.cshtml";
}

@if (Model.Any())
{
    <partial name="_StatusMessenger" model="@ViewData["Message"]"/>

    <div class="card shadow mb-4">
        <partial name="_StatusMessenger" model="@ViewData["Message"]"/>
        <div class="card-body text-dark" style="background-color: #d3d4d4">
            <div class="table-responsive font-weight-bold">
                <table class="table table-bordered" id="dataTable">
                    
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>No Page</th>
                        <th>Price</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    
                    <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Author</th>
                        <th>No Page</th>
                        <th>Price</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    
                    <tbody>
                    @foreach (var product in @Model)
                    {
                        <tr>
                            <td>@product.Title</td>
                            <td>@product.Description</td>
                            <td>@product.Author</td>
                            <td>@product.NoPage</td>
                            <td>@product.Price</td>
                            <td>@product.Category.Name</td>

                            <td>
                                <a asp-controller="Books" asp-action="UpSert" asp-route-id="@product.Id" class="btn btn-info">Edit</a>
                                <a asp-controller="Books" asp-action="Details" asp-route-id="@product.Id" class="btn btn-info">Detail</a>
                                <a asp-controller="Books" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger" onclick="return confirm('Do you want delete this item?')">Delete</a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <h2 class="text-center">No Value Book</h2>
    <div class="text-center">
        <a asp-controller="Books" asp-action="UpSert" class="btn btn-primary">Create new Book</a>
    </div>
    <partial name="_StatusMessenger" model="@ViewData["Message"]"/>
}

@{
    _AdminSidebarService.SetActive("Books", "Index", "StoreOwner");
}

@section Sidebar
{
    @Html.Raw(_AdminSidebarService.renderHtml())
}